<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>国际化</title>
    </head>
    <br>
        <form>
            <select class="lan_select">
                <option class="lan_zh">中文</option>
                <option class="lan_en">英文</option>
            </select>
        </form>

        <label class="username"><!--用户名：--></label><input type="text"><br/>
        <label class="password"><!--密码：--></label><input type="password"><br/>
        <input id="isOk" type="text">

        <script type="application/javascript" src="/jquery-3.3.0.min.js"></script>
        <script type="application/javascript" src="/jquery.i18n.properties.js"></script>
        <script type="application/javascript" src="/language.js"></script>
    </body>
</html>